sudo: false
language: node_js
node_js:
  - "10"

notifications:
  email: false

cache:
  yarn: true
  directories:
    - node_modules

script:
  - set -e
  - yarn build:production
  - yarn percy
  - set +e
